In [1]:
import numpy as np
import pandas as pd
csv_data=pd.read_csv(r'E:\myprogram\numpyLearning\houses.csv',encoding='gbk')
df=csv_data.drop_duplicates()
pd.set_option('display.max_rows', 100)
print(df.head(5))

   Unnamed: 0                       _id                        title  price  \
0           0  5dd2198f18bba2b4a9a0b854     大华电梯两房/房型正气/开门南北通/房东诚意出售  690.0
1           1  5dd2198f18bba2b4a9a0b855  非底楼 满五年唯一 税费少 婚房装修 楼称佳 户型方正  330.0
2           2  5dd2198f18bba2b4a9a0b856  满五唯一+7号线锦绣路+复式房+带阁楼+小区央位+精装  500.0
3           3  5dd2198f18bba2b4a9a0b857     13号线陈春路地铁400米中间楼层诚意卖看房方便  330.0
4           4  5dd2198f18bba2b4a9a0b858    朝阳正气一房，采光好，坐看花园，户型方正，看房方便  460.0

   up_price        xiaoqu_name   size  buildyear huxing chaoxiang zhuangxiu  \
0     76531  大华锦绣华城(十六街区)(公寓)   90.16       2010  2室2厅         南        简装
1     52290               芳雅苑   63.11       1995  2室1厅         南        精装
2     62878               锦博苑   79.52       2007  2室2厅         南        精装
3     45866              鹏海小区   71.95       1997  2室1厅         南        简装
4     83942            万邦都市花园   54.80       2004  1室1厅         南        简装

       cenggao louxing district_name sub_district_name
0   中楼层(共18层)       板楼            浦东                北蔡
1    低楼层(共6层)       板楼            浦东                北蔡
2    高楼层(共6层)       板楼            浦东                北蔡
3    中楼层(共6层)       板楼            浦东                北蔡
4   中楼层(共11层)       板楼            浦东                北蔡

In [2]:
len(df)

69654

In [3]:
df1=csv_data.drop_duplicates('xiaoqu_name')
len(df1)

8333

In [4]:
df2=csv_data.drop_duplicates('sub_district_name')
len(df2)

165

In [5]:
df.huxing.unique()

array(['2室2厅 ', '2室1厅 ', '1室1厅 ', '4室3厅 ', '3室1厅 ', '3室2厅 ', '4室2厅 ',
       '1室2厅 ', '2室0厅 ', '5室1厅 ', '1室0厅 ', '5室3厅 ', '5室2厅 ', '4室1厅 ',
       '4室4厅 ', '6室3厅 ', '5室6厅 ', '6室2厅 ', '5室4厅 ', '7室3厅 ', '3室3厅 ',
       '9室2厅 ', '7室2厅 ', '7室1厅 ', '6室4厅 ', '6室1厅 ', '8室4厅 ', '3室0厅 ',
       '7室4厅 ', '7室5厅 ', '4室5厅 ', '9室6厅 ', '9室4厅 ', '6室5厅 ', '10室1厅 ',
       '4室0厅 ', '8室1厅 ', '9室3厅 ', '9室9厅 ', '5室5厅 ', '8室3厅 ', '2室3厅 ',
       '7室6厅 ', '8室2厅 ', '0室0厅 ', '6室6厅 ', '10室6厅 ', '2室4厅 ', '6室0厅 ',
       '10室2厅 ', '7室0厅 ', '3室4厅 ', '8室5厅 ', '10室3厅 ', '5室0厅 ', '3室5厅 '],
      dtype=object)

In [6]:
df.zhuangxiu.unique()

array([' 简装 ', ' 精装 ', ' 毛坯 ', ' 其他 '], dtype=object)

In [7]:
df.buildyear.unique()

array([2010, 1995, 2007, 1997, 2004, 1994, 2011, 2012, 1998, 2013, 1999,
       2016, 2000, 2005, 1996, 2003, 2015, 2006, 2009, 1993, 2002, 2014,
       1992, 2008, 2001, 2019, 2018, 1987, 1991, 2017, 1989, 1988, 1982,
       1983, 1984, 1981, 1985, 1977, 1986, 1990, 1979, 1980, 1953, 1976,
       1958, 1978, 1969, 1974, 1975, 1955, 1971, 1954, 1956, 1959, 1968,
       1964, 1960, 1967, 1972, 1961, 1973, 1936, 1911, 1941, 1948, 1949,
       1939, 1933, 1940, 1946, 1937, 1910, 1945, 1957, 1965, 1966, 1970,
       1963, 1950, 1962, 1930, 1920, 1947, 1938, 1934, 1935, 1921, 1926,
       1912, 1924, 1928, 1931, 1943, 1900, 1952, 1951], dtype=int64)

In [8]:
df.up_price.mean()

55051.4809056192

In [9]:
df.groupby('huxing')['size'].mean().sort_values(ascending=False)

huxing
8室5厅      1663.100000
6室6厅      1440.160000
9室9厅      1352.240000
9室2厅       757.650000
6室5厅       669.482857
8室4厅       622.384000
10室3厅      598.320000
9室3厅       593.010000
10室1厅      544.990000
7室4厅       535.334444
7室5厅       532.396000
6室4厅       516.186122
6室0厅       504.425000
8室3厅       474.710000
9室6厅       473.775000
10室6厅      473.610000
7室3厅       461.077222
9室4厅       409.463333
7室6厅       406.005000
5室4厅       403.056667
6室3厅       395.391215
8室1厅       386.170000
3室5厅       376.210000
10室2厅      370.000000
8室2厅       366.875556
5室3厅       360.780565
5室6厅       344.720000
5室5厅       334.585000
4室5厅       321.000000
7室2厅       310.042667
6室2厅       289.408435
5室2厅       286.614175
4室3厅       272.177951
4室4厅       265.587143
0室0厅       237.622500
5室1厅       225.869375
4室2厅       208.867312
4室0厅       192.590000
7室1厅       177.200000
3室3厅       175.504030
6室1厅       170.230909
7室0厅       161.440000
4室1厅       154.547586
2室4厅       129.400000
3室2厅       129.362787
2室3厅       118.597500
3室4厅        94.370000
2室2厅        93.016552
3室1厅        91.561336
5室0厅        89.600000
3室0厅        68.571869
1室2厅        67.410990
2室1厅        66.915066
2室0厅        49.615223
1室1厅        46.955651
1室0厅        36.206541
Name: size, dtype: float64

In [20]:
df.groupby("huxing")["size"].agg([("number","count"),("mean_size","mean")]).sort_values(by = "number",ascending=False)

        number    mean_size
huxing
2室1厅     17364    66.915066
2室2厅     12990    93.016552
3室2厅     12618   129.362787
1室1厅     12103    46.955651
4室2厅      3613   208.867312
3室1厅      3451    91.561336
1室0厅      1914    36.206541
2室0厅      1369    49.615223
1室2厅      1192    67.410990
5室2厅       855   286.614175
5室3厅       584   360.780565
4室3厅       566   272.177951
6室3厅       181   395.391215
6室2厅       147   289.408435
4室1厅       145   154.547586
3室3厅       134   175.504030
3室0厅       107    68.571869
5室4厅        51   403.056667
6室4厅        49   516.186122
7室3厅        36   461.077222
5室1厅        32   225.869375
7室2厅        30   310.042667
4室4厅        21   265.587143
6室1厅        11   170.230909
7室4厅         9   535.334444
8室2厅         9   366.875556
2室3厅         8   118.597500
6室5厅         7   669.482857
8室3厅         6   474.710000
7室5厅         5   532.396000
8室4厅         5   622.384000
9室2厅         4   757.650000
0室0厅         4   237.622500
9室4厅         3   409.463333
4室0厅         3   192.590000
5室6厅         3   344.720000
6室0厅         2   504.425000
5室5厅         2   334.585000
9室6厅         2   473.775000
7室1厅         2   177.200000
7室6厅         2   406.005000
2室4厅         1   129.400000
9室3厅         1   593.010000
10室2厅        1   370.000000
8室5厅         1  1663.100000
10室3厅        1   598.320000
10室6厅        1   473.610000
3室4厅         1    94.370000
8室1厅         1   386.170000
3室5厅         1   376.210000
4室5厅         1   321.000000
7室0厅         1   161.440000
6室6厅         1  1440.160000
5室0厅         1    89.600000
10室1厅        1   544.990000
9室9厅         1  1352.240000

In [21]:
df.groupby("xiaoqu_name")["up_price"].agg([("per_meter_price","mean")]).sort_values(by = "per_meter_price",ascending=False)

               per_meter_price
xiaoqu_name
MAX未来             31574.105263
VIP大厦             70574.000000
一品名人居             76460.166667
一品新筑苑             65559.700000
一品漫城(一期)(公寓)      55750.400000
...                        ...
龙阳小区              65840.666667
龙阳花苑              72077.800000
龚华公寓              33396.250000
龚华新村              34649.312500
龚路新城              33937.764706

[8333 rows x 1 columns]

In [14]:
df['price'].sort_values(ascending=False).head(5)

46396    35000.0
18891    30000.0
46451    30000.0
28332    24999.0
18875    21000.0
Name: price, dtype: float64

In [17]:
df['buildyear']=df['buildyear'].astype(str)
df['buildyear']=pd.to_datetime(df['buildyear'],format="%Y")
df.set_index('buildyear',drop=True)
df['buildyear'].value_counts().resample('10A').sum()

1900-12-31        1
1910-12-31        1
1920-12-31        7
1930-12-31       36
1940-12-31      112
1950-12-31       40
1960-12-31      425
1970-12-31      234
1980-12-31     1282
1990-12-31     8536
2000-12-31    23747
2010-12-31    25136
2020-12-31    10097
Freq: 10A-DEC, Name: buildyear, dtype: int64