In [1]:
import pandas as pd
f=open("D:/python/myprogram/PandaLearning/task_1_zhaopin_data.csv",encoding='utf-8')
df=pd.read_table(f,sep=',')
df1=pd.DataFrame(df)
df1.head()

,工作名,薪资,学历要求,工作经验,是否全职,公司名,公司类型,公司规模,任职要求,其他备注
0,python开发工程师,8K-10K,大专,1-3年,全职,上海蜗兴科技有限公司,民营,20-99人,任职要求：?1、计算机相关专业大专及以上学历；2、有Python开发经验，熟悉Django、...,NaN
1,Python开发工程师,15K-30K,本科,3-5年,全职,苏州复鹄电子科技有限公司,民营,20人以下,职位描述：复鹄电子科技有限公司现正集中开发对标美国DAPAR计划，具有革命颠覆性的模拟电路全...,NaN
2,python开发工程师,17K-30K,本科,3-5年,全职,上海心莲信息科技有限公司,民营,不限,1、3年以上Python开发经验，有独立设计大规模数据处理和分析系统的经验和能力； 2...,NaN
3,python后端开发,薪资面议,本科,1-3年,全职,中软国际科技服务有限公司,上市公司,10000人以上,熟练使用python，至少两至三年以上开发经验；熟悉常见python web框架，像djan...,NaN
4,python开发工程师,6K-12K,大专,3-5年,全职,三门峡崤云安全服务有限公司,国企,20-99人,岗位职责： 1.项目的架构设计，核心模块的开发工作； 2. 系统需求分析与设计，并负责完...,NaN

In [2]:
df1.tail()

,工作名,薪资,学历要求,工作经验,是否全职,公司名,公司类型,公司规模,任职要求,其他备注
527,高级Java开发工程师（03）,15K-20K,本科,3-5年,全职,上海复深蓝软件股份有限公司,上市公司,1000-9999人,基础编程 1、精通java和sql编程开发，熟悉java常用开发框架和类库 2、深刻...,NaN
528,Change Developer,薪资面议,本科,1-3年,全职,瑞银企业管理(中国)有限公司无锡分公司,外商独资,10000人以上,Your role We are looking for a developer to wr...,NaN
529,测试工程师,10K-15K,本科,3-5年,全职,深圳市睿服科技有限公司,股份制企业,500-999人,岗位职责： 1.参与项目产品的质量保证工作 ； 2.完成项目测试，包括：功能业务测...,NaN
530,大数据审计岗（上海）,20K-40K,本科,3-5年,全职,永辉超市股份有限公司,民营,10000人以上,1、与大数据部合作建立大数据审计平台 2、协助合伙人通过风险评估草拟年度大数据审计发展...,NaN
531,高级sas程序员,12K-15K,本科,3-5年,全职,上海盛迪医药有限公司,民营,100-499人,JobPurpose:1.?????为临床试验项目提供各种类型的数据处理和分析方面的服务，包...,NaN

In [3]:
df1.head(3)

,工作名,薪资,学历要求,工作经验,是否全职,公司名,公司类型,公司规模,任职要求,其他备注
0,python开发工程师,8K-10K,大专,1-3年,全职,上海蜗兴科技有限公司,民营,20-99人,任职要求：?1、计算机相关专业大专及以上学历；2、有Python开发经验，熟悉Django、...,NaN
1,Python开发工程师,15K-30K,本科,3-5年,全职,苏州复鹄电子科技有限公司,民营,20人以下,职位描述：复鹄电子科技有限公司现正集中开发对标美国DAPAR计划，具有革命颠覆性的模拟电路全...,NaN
2,python开发工程师,17K-30K,本科,3-5年,全职,上海心莲信息科技有限公司,民营,不限,1、3年以上Python开发经验，有独立设计大规模数据处理和分析系统的经验和能力； 2...,NaN

In [4]:
df1.iloc[2]

工作名                                           python开发工程师
薪资                                                17K-30K
学历要求                                                   本科
工作经验                                                 3-5年
是否全职                                                   全职
公司名                                          上海心莲信息科技有限公司
公司类型                                                   民营
公司规模                                                   不限
任职要求      1、3年以上Python开发经验，有独立设计大规模数据处理和分析系统的经验和能力；  2...
其他备注                                                  NaN
Name: 2, dtype: object

In [5]:
 df1[['学历要求','工作经验','是否全职']]

    学历要求  工作经验 是否全职
0     大专  1-3年   全职
1     本科  3-5年   全职
2     本科  3-5年   全职
3     本科  1-3年   全职
4     大专  3-5年   全职
..   ...   ...  ...
527   本科  3-5年   全职
528   本科  1-3年   全职
529   本科  3-5年   全职
530   本科  3-5年   全职
531   本科  3-5年   全职

[532 rows x 3 columns]

In [ ]:
f